<article class="launch-card">
    <a href="launch/{{id}}" class="launch-link"><img src="{{icon}}" alt="{{name}} Patch" class="launch-icon"></a>
    <div class="launch-details">
        <a href="/launch/{{id}}" class="launch-name launch-link title-link title is-2">{{name}}</a>
        <p class="is-size-3">{{rocket_name}}</p>
        <p class="is-size-3">{{format_date date}}</p>
        <a href="{{webcast}}" class="webcast-link is-size-3"><i class="fa-brands fa-youtube"></i> Webcast</a>
    </div>
</article>