        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification has-background-success-dark">
                            <p class="title">{{launch.name}}</p>
                            <p class="subtitle">{{launch.date}}{{launch.success}}</p>
                        </article>
                        <article class="tile is-child notification has-background-success-dark">
                            <div class="content">
                                <figure>
                                    {{launch.icon}}
                                </figure>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification has-background-success-dark">
                            <p class="title">{{launch.name}} Forum</p>
                            <p class="subtitle">{{launch.forum}}</p>
                        </article>
                        <article class="tile is-child notification has-background-success-dark">
                            <p class="title">{{rocket.name}} Cost</p>
                            <p class="subtitle">{{rocket.launch_cost}}</p>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification has-background-success-dark">
                        <p class="title">{{launch.name}} Video</p>
                        <div class="content">
                            <figure>
                                {{launch.webcast}}
                            </figure>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification has-background-success-dark">
                    <div class="content">
                        <p class="title">Launch and Rocket Info</p>
                        <p class="subtitle">{{launch.name}}</p>
                        <div class="content">
                            <p>{{launch.wiki}}</p>
                        </div>
                        <p class="subtitle">{{rocket.name}}</p>
                        <div>
                            <p>{{rocket.description}}</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        