<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child launch-tile">
                    <p class="title">{{launch.name}}</p>
                    <p class="content is-size-4">Date: {{format_date launch.date}}</p>
                    <p class="content is-size-4">Flight&nbsp;Number:&nbsp;{{launch.flight_number}}</p>
                    <p class="content is-size-4">Status:&nbsp;
                        {{#if launch.success}}
                        <i class="fa-solid fa-check"></i>
                        {{else}}
                        <i class="fa-solid fa-x"></i>
                        {{/if}}
                    </p>
                    <img src="{{launch.icon}}" alt="{{launch.name}} Patch" class="launch-icon tile-icon">
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification launch-tile launch-links">
                    <p class="title">Links</p>
                    <a class="content is-size-3" href="{{launch.forum}}"><i class="fa-brands fa-reddit-alien"></i>
                        Launch Discussion</a>
                    <a class="content is-size-3" href="{{launch.webcast}}"><i class="fa-brands fa-youtube"></i>
                        Webcast</a>
                    <a class="content is-size-3" href="{{launch.wiki}}"><i class="fa-brands fa-wikipedia-w"></i>
                        Wikipedia</a>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification launch-tile">
                <iframe width="auto" height="100%" src="https://www.youtube.com/embed/u_A7xdnVllM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child notification launch-tile rocket-tile">
            <a class="title title-link" href="{{rocket.wiki}}">{{rocket.name}}</a>
            <p class="content is-size-4">First Flight:&nbsp;{{format_date rocket.first_flight}}</p>
            <p class="content is-size-4">Launch Cost:&nbsp;{{format_cost rocket.launch_cost}}</p>
            <p class="content is-size-4">{{rocket.description}}</p>
            <img src="{{rocket.image}}" alt="Image of {{rocket.name}}" class="rocket-img">
        </article>
    </div>
</div>
<div class="comments">
    <p class="title">Comments</p>
    <div class="commentBox">
        <textarea class="is-size-5" id="commentText" cols="50" rows="2"></textarea>
        <button class="is-size-4" id="postComment">Submit</button>
    </div>
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
</div>
<script src="/js/comment.js"></script>